<!--MAIN-->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Preguntas</h1>
      <p class="description">Listado de preguntas creadas</p>
    </div>
    <div class="banner__section">
      <a href="" class="button button--primary" href="#">Añadir Pregunta</a>
    </div>
    <span class="line"></span>
  </div>

  <!-- QUESTIONS -->
  <div class="filters-container">
    <div class="input search-bar">
      <span class="icon search-bar__icon"></span>
      <input type="text" placeholder="Buscar" />
    </div>
    <div class="select-container">
      <select class="select" id="select-question-type">
        <option value="">TIPO</option>
        <option value="SELECTION">SELECTION</option>
        <option value="OPEN">OPEN</option>
        <option value="BOOLEAN">BOOLEAN</option>
        <option value="SCALE">SCALE</option>
      </select>
    </div>
  </div>
  <% if(questions && questions.length> 0) { %>
    <div class="cards-container">
      <% for(let question of questions) { %>
        <div class="card card--question">
          <p class="card__subtitle">
            <%= question.description %>
          </p>
          <span class="label label--active">
            <%= question.type %>
          </span>
        </div>
        <% } %>
    </div>
    <% } else { %>
      <div class="cards-container">
        <div class="card">
          <p class="card_subtitle">No hay preguntas</p>
        </div>
      </div>
      <% } %>
</section>
<script defer src="/assets/js/questions.js"></script>