<!--MAIN-->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Crear pregunta</h1>
      <p class="description">Crea una pregunta para la retrospectiva</p>
    </div>
    <div class="banner__section">
      <button class="button button--primary desktop" type="submit" form="addQuestion">
        Crear Pregunta
      </button>
    </div>
    <span class="line"></span>
  </div>

  <!-- CREATE QUESTIONS -->
  <form id="addQuestion" method="POST" action="/preguntas/nueva">
    <div class="banner-question">
      <div class="banner__section">
        <p class="description-question">Selecciona el tipo de pregunta</p>
        <div class="select-container">
          <select class="select" id="select-question-type" name="type">
            <option value="OPEN" selected>Pregunta Abierta</option>
            <option value="BOOLEAN">Pregunta Si/No</option>
            <option value="SCALE">Pregunta Escalar</option>
            <option value="SELECTION">Pregunta Opción Múltiple</option>
          </select>
        </div>
      </div>
      <div class="banner__section">
        <!--ALIGN FLEX START-->
        <p class="description-question">Valor de la pregunta</p>

        <!-- QUESTION FORM -->
        <div class="input-container">
          <input name="description" class="input" type="text" placeholder="¿Cómo fue el sprint pasado?"
            id="question-input" required maxlength="255" />
        </div>

        <div class="hide" id="selection-form">
          <p class="description-question mt-3">Opciones:</p>
          <div class="options-container" id="answers">
            <div class="option-container">
              <input class="input" type="text" name="option" placeholder="Opción 1" maxlength="25" />
            </div>
            <div class="option-container">
              <input class="input" type="text" name="option" placeholder="Opción 2" maxlength="25" />
            </div>
            <div class="option-container">
              <input class="input" type="text" name="option" placeholder="Opción 3" maxlength="25" />
            </div>
          </div>
          <br>
          <button class="button button--edit mt-2" id="add-answers">
            Añadir opción
          </button>
        </div>
        <button class="button button--primary mt-3 mobile" type="submit" form="addQuestion">
          Crear Pregunta
        </button>
      </div>
    </div>
  </form>
</section>
<script defer src="/assets/js/postQuestion.js"></script>