<!-- HEADER -->
<header class="login__header">
  <img src="/assets/img/logo.svg" alt="RetroZeb Logo" />
</header>
<!-- LOGIN FORM -->
<main class="login__body">
  <h1 class="title">Bienvenido, <%= currentUser.first_name %>
  </h1>
  <p class="description description--blue">
    Por favor ingresa tu ID de usuario de JIRA
  </p>

  <form action="<%= routes.jiraUserID %>" method="POST" id="jira-user-id" class="jira-user-id-form mt-3">
    <input type="hidden" name="uid" value="<%= currentUser.uid %>">
    <input class="input" type="text" placeholder="ID de Usuario de JIRA" name="id_jira" />
    <button class="button button--primary mt-1" type="submit">Guardar</button>
  </form>
</main>

<!-- FOOTER -->
<footer class="login__footer">
  <span class="line"></span>
  <img src="/assets/img/zebrands-logo.svg" alt="Zebrands Logo" />
  <span class="line"></span>
</footer>