<style>
  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
  }

  .table td {
    text-align: center;
    background-color: transparent;
  }

  .tr-header {
    background-color: #DDE7FF;
  }
</style>

<!--MAIN-->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">
        Roles <span class="meta">(<%= roles.length %>)</span>
      </h1>
      <p class="description">Listado de roles creados</p>
    </div>
    <% if(currentPrivileges.includes(privileges.roles.canCreateRoles)) { %>
    <div class="banner__section">
      <a class="button button--primary" href="roles/nuevo">Añadir Rol</a>
      <a class="button button--primary" href="roles/nuevo">Modificar Rol</a>
    </div>
    <% } %>
    <span class="line"></span>
  </div>

  <!-- ROLES -->
  <div class="card-table">
    <table class="table">
      <thead>
        <tr>
          <th>Privilegios</th>
          <th>Admin</th>
          <th>Team Member</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-header">
          <td>Retrospectivas</td>
          <td></td>
          <td></td>
        <tr>
          <td>getActionables</td>
          <td><input type="checkbox" name="privilege1"></td>
          <td><input type="checkbox" name="privilege1"></td>
        </tr>
        <tr>
          <td>getActionables</td>
          <td><input type="checkbox" name="privilege2"></td>
          <td><input type="checkbox" name="privilege2"></td>
        </tr>
        <tr>
          <td>getActionables</td>
          <td><input type="checkbox" name="privilege3"></td>
          <td><input type="checkbox" name="privilege3"></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<script defer src="/assets/js/roles.js"></script>