<section class="dashboard">
  <div class="banner">
    <div class="banner__section mb-1">
      <h1 class="title">
        Roles
      </h1>
      <p class="description">Listado de roles creados y sus privilegios</p>
    </div>
    <% if(currentPrivileges.includes(privileges.roles.canCreateRoles)) { %>
    <div class="banner__section">
      <a class="button button--primary" href="roles/nuevo">Añadir Rol</a>
      <% if (roles.length > 0) { %>
      <a class="button button--primary" href="<%=`roles/${roles[0].id}/modificar`%>">Modificar Rol</a>
      <% } %>
    </div>
    <% } %>
    <span class="line"></span>
  </div>

  <!--ROLES-->
  <% if (roles.length > 0) { %>
  <div class="card-table">
    <table class="table-roles">
      <thead>
        <tr>
          <th class="pl-1 pt-2 pb-2 text-center">Privilegios</th>
          <% for (let role of roles) { %>
          <th class="pt-2 pb-2"><%= role.name %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for (let tag in privilegesByTag) { %>
          <tr class="tr-header">
            <td><%= tag %></td>
            <% for (let role of roles) { %>
            <td></td>
            <% } %>
          </tr>
          <% for (let privilege of privilegesByTag[tag]) { %>
          <tr>
            <td class="text-left"><%= privilege.description %></td>
            <% for (let role of roles) { %>
              <td>
                <% if(role.privileges.some(p => p.id_privilege == privilege.id) ) { %>
                  <div><img src="/assets/icon/check_circle.svg" alt="checkbox"></div>
                <% } else { %>
                  <p>-</p>
                <% } %>
              </td>
            <% } %>
          </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
  <% } else { %>
  <div class="card">
    <p class="description">No hay roles creados</p>
  </div>
  <% } %>
</section>
