<!-- MAIN -->
<section class="dashboard">
  <h1 class="title">Sprint 19: Resumen Retrospectiva</h1>
  <p class="description">Resumen del desempe침o en la retrospectiva</p>
  <span class="line"></span>

  <!-- Notifications -->
  <div class="notification-container">
    <div class="notification notification--success">
      <div class="notification__content">
        <div class="notification__icon">
          <span class="icon"></span>
        </div>
        <p class="notification__message">Notification message success</p>
      </div>
      <button class="notification__close icon"></button>
    </div>

    <div class="notification notification--error">
      <div class="notification__content">
        <div class="notification__icon">
          <span class="icon"></span>
        </div>
        <p class="notification__message">Notification message error</p>
      </div>
      <button class="notification__close icon"></button>
    </div>
  </div>

  <!-- Labels -->
  <h2 class="subtitle">Lables</h2>
  <div class="labels-container" style="display: flex; flex-wrap: wrap">
    <span class="label label--active">En Curso</span>
    <span class="label label--alert">Atrasado</span>
    <span class="label label--success">Terminado</span>
    <span class="label label--danger">Inactivo</span>
    <span class="label label--inactive">Cancelado</span>
  </div>

  <!-- Pills -->
  <h2 class="subtitle">Pills</h2>
  <div class="pills-container" style="display: flex; flex-wrap: wrap">
    <span class="pill pill--ontime"></span>
    <span class="pill pill--late"></span>
    <span class="pill pill--alert"></span>
  </div>

  <!-- Buttons -->
  <h2 class="subtitle">Buttons</h2>
  <div class="buttons-container" style="display: flex; flex-wrap: wrap">
    <button class="button button--primary">Guardar</button>
    <button class="button button--edit">Editar</button>
    <button class="button button--discard">Descartar</button>
    <button class="button button--delete">Eliminar</button>
  </div>

  <h2 class="subtitle">Toggle Buttons</h2>
  <div class="toggle-buttons-container toggle-buttons-container--primary">
    <button class="toggle-button toggle-button--active">Activo</button>
    <button class="toggle-button">Inactivo</button>
  </div>
  <div class="toggle-buttons-container toggle-buttons-container--primary">
    <button class="toggle-button toggle-button--active">Activo</button>
    <button class="toggle-button">Inactivo</button>
    <button class="toggle-button">Cancelado</button>
  </div>

  <!-- Inputs -->
  <h2 class="subtitle">Inputs</h2>
  <div class="input-container">
    <label class="input__label" for=""></label>
    <input class="input" type="text" placeholder="Input" />
  </div>

  <div class="input search-bar">
    <span class="icon search-bar__icon"></span>
    <input type="text" placeholder="Buscar" />
  </div>

  <!-- Select -->
  <h2 class="subtitle">Select</h2>
  <div class="select-container">
    <select class="select">
      <option value="1">Opci칩n 1</option>
      <option value="2">Opci칩n 2</option>
      <option value="3">Opci칩n 3</option>
    </select>
  </div>

  <!-- Charts -->
  <h2 class="subtitle">Charts</h2>

  <div class="charts-container">
    <div class="chart-container">
      <canvas id="data-chart"></canvas>
    </div>

    <div class="chart-container">
      <canvas id="data-chart-line"></canvas>
    </div>

    <div class="chart-container">
      <canvas id="data-stacked"></canvas>
    </div>
  </div>
</section>
