<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title"><%= sprint.name %></h1>
    </div>
  </div>

  <div class="horizontal-container">

    <div class="card">
      <p class="subtitle">Retrospectivas activas</p>
      <table class="table">

        <tr class="retrospective">
          <td>Retrospective 1</td>
        </tr>
        <tr class="retrospective">
          <td>Retrospective 1</td>
        </tr>
        <tr class="retrospective">
          <td>Retrospective 1</td>
        </tr>
      </table>
    </div>

    <div class="card">
      <p class="subtitle">Retrospectivas activas</p>
      <table class="table">

        <tr class="retrospective">
          <td>Retrospective 1</td>
        </tr>
        <tr class="retrospective">
          <td>Retrospective 1</td>
        </tr>
        <tr class="retrospective">
          <td>Retrospective 1</td>
        </tr>
      </table>
    </div>
  </div>

  <span class="line"></span>
  </div>
</section>