<!-- MAIN -->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Equipos <span class="meta"></span></h1>
      <p class="description">
        Visualiza tu equipo o selecciona uno al cual unirte
      </p>
    </div>
    <div class="banner__section">
      <a class="button button--primary" href="#">Crear Equipo</a>
    </div>
  </div>
  <span class="line"></span>
</section>
