<!-- MAIN -->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Preguntas<span class="meta"></span></h1>
      <p class="description">
        Visualiza las respuestas a las preguntas de la retrospectiva
      </p>
    </div>
    <div class="banner__section">
      <div class="toggle-buttons-container toggle-buttons-container--primary">
        <button class="toggle-button">Métricas</button>
        <button class="toggle-button toggle-button--active">Preguntas</button>
      </div>
    </div>
  </div>
  <span class="line"></span>
  <section class="cards-container--full">
    <% for(question of questions) { %>
    <article class="card">
      <div class="card__header">
        <h3 class="card__title"><%= question.description %></h3>
        <div class="card__extra"><span class="pill 
          <%= question.required ? "pill--late" : "pill--ontime" %>">
            <%= question.required ? "OBLIGATORIA" : "OPCIONAL" %>
          </span></div>
      </div>
      <span class="line"></span>
      <% if(question.type === 'OPEN') { %>
      <% if(question.answers?.value?.length === 0) { %>
      <h2 class="subtitle">No hay respuestas aún</h2>
      <% } else { %>
      <ul class="items__list">
        <% for(answer of question.answers){ %>
        <li class="items__item description"><%= answer.value %></li>
        <% } %>
      </ul>
      <% }} else { %>
      <canvas id="myChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
      <% } %>
    </article>
    <% } %>
  </section>
</section>