/* TITLE */
.title {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-bottom: var(--component-mb);
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-bottom: var(--component-mb);
  margin-top: 3rem;
}

.description {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-bottom: var(--component-mb);
}

.line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--color-line);
  margin-bottom: var(--container-mb);
}

.line--sm {
  width: 10%;
  height: 2px;
  display: block;
  background-color: var(--color-border-inactive);
  margin-bottom: var(--component-mb);
}

.meta {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-bottom: var(--component-mb);
}

/* NOTIFICATIONS */
.notification-container {
  position: fixed;
  top: 85px;
  left: 2rem;
  right: 2rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.notification {
  min-height: 5rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: var(--component-mb);
  border-radius: var(--border-radius);
}

.notification__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.notification__icon {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border-radius: 50%;
}

.notification__icon .icon {
  width: 50%;
  height: 50%;
}

.notification__message {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-black);
}

.notification__close {
  background-image: url("/assets/icon/close.svg");
}

.notification__close:hover {
  background-color: var(--color-white);
  border-radius: 50%;
}

.notification--success {
  background: var(--color-bg-success);
  border: 1px solid var(--color-border-success);
  color: var(--color-font-success);
}

.notification--success .notification__icon .icon {
  background-image: url("/assets/icon/check.svg");
}

.notification--error {
  background: var(--color-bg-alert);
  border: 1px solid var(--color-border-alert);
  color: var(--color-font-alert);
}

.notification--error .notification__icon .icon {
  background-image: url("/assets/icon/error.svg");
}

/* CONTAINERS */
.cards-container,
.charts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: var(--container-mb);
  /* padding-top: var(--container-pt); */
}

.cards-container--full {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: var(--container-mb);
  padding-top: var(--container-pt);
}
/* CARDS */
.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-bottom: var(--card-mb);
}

.card .line {
  margin-bottom: var(--component-mb);
}

.card__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card__title {
  font-size: 2.4rem;
  font-weight: 600;
  justify-self: flex-start;
  color: var(--color-font-primary);
  margin-bottom: var(--component-mb);
}

.card__extra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-bottom: var(--component-mb);
}

.card--team .button {
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
}

.card--team .user__avatar {
  width: 3.2rem;
  height: 3.2rem;
}

.card--team .user__name {
  font-size: 1.3rem;
}

.card__footer {
  margin-top: auto !important;
}

.card--question {
  flex-direction: row;
  justify-content: space-between;
}

/* CHARTS */
.chart-container {
  position: relative;
  height: 100%;
  min-height: 30rem;
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: var(--banner-mb);
}

.banner--nomargin *,
.banner--nomargin div {
  margin: 0 !important;
}

/* ICONS */
.icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  outline: none;
  border: none;
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

/* LABELS */
.label {
  height: 2rem;
  max-width: 9rem;
  min-width: 8rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  border: 1px solid;
  margin-right: var(--component-mr);
  margin-bottom: var(--component-mb);
}

.label--active {
  background-color: var(--color-bg-active);
  color: var(--color-font-active);
  border-color: var(--color-border-active);
}

.label--alert {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
  border-color: var(--color-border-alert);
}

.label--success {
  background-color: var(--color-bg-success);
  color: var(--color-font-success);
  border-color: var(--color-border-success);
}

.label--danger {
  background-color: var(--color-bg-danger);
  color: var(--color-font-danger);
  border-color: var(--color-border-danger);
}

.label--inactive {
  background-color: var(--color-bg-inactive);
  color: var(--color-font-inactive);
  border-color: var(--color-border-inactive);
}

/* PILLS */
.pill {
  height: 1.6rem;
  max-width: 7rem;
  min-width: 7rem;
  border-radius: 2rem;
  border: 1px solid;
  margin-right: var(--component-mr);
  margin-bottom: var(--component-mb);
  text-align: center;
}

.pill--ontime {
  background-color: var(--color-bg-success);
  border-color: var(--color-font-success);
}

.pill--late {
  background-color: var(--color-bg-danger);
  border-color: var(--color-font-danger);
  color: var(--color-font-alert);
}

.pill--alert {
  background-color: var(--color-bg-alert);
  border-color: var(--color-font-alert);
}

/* BUTTON */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-width);
  height: var(--input-height);
  margin-right: var(--component-mr);
  margin-bottom: var(--component-mb);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  border: 1px solid;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

.button:hover {
  opacity: 0.9;
}

.button--primary {
  background-color: var(--color-font-active);
  color: var(--color-white);
  border-color: var(--color-font-active);
}

.button--primary:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
  border-color: var(--color-font-active);
}

.button--edit {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
  border-color: var(--color-font-active);
}

.button--edit:hover {
  background-color: var(--color-font-active);
  color: var(--color-white);
  border-color: var(--color-font-active);
}

.button--delete {
  background-color: var(--color-font-alert);
  color: var(--color-white);
  border-color: var(--color-font-alert);
}

.button--delete:hover {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
}

.button--delete-alt {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
}

.button--delete-alt:hover {
  background-color: var(--color-font-alert);
  color: var(--color-white);
  border-color: var(--color-font-alert);
}

.button--discard {
  color: var(--color-font-inactive);
  border-color: var(--color-font-inactive);
}

.button--discard:hover {
  background-color: var(--color-bg-inactive);
  color: var(--color-font-inactive);
  border-color: var(--color-bg-inactive);
}

/* TOGGLE BUTTONS */
.toggle-buttons-container {
  display: flex;
  max-width: fit-content;
  margin-bottom: var(--component-mb);
  border: 1px solid;
  border-radius: var(--border-radius);
}

.toggle-button {
  width: 10rem;
  height: var(--input-height);
  border-right: 1px solid;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: var(--transition);
}

.toggle-buttons-container .toggle-button:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.toggle-buttons-container .toggle-button:last-child {
  border-right: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.toggle-buttons-container--primary {
  border-color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button {
  color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button--active {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

/* INPUT */
.input,
.search-bar,
.select-container {
  height: var(--input-height);
  width: var(--input-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: var(--component-mb);
  padding: 0 1rem;
  background: var(--color-white);
  border: 1px solid var(--color-border-inactive);
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.input:focus,
.search-bar:focus-within {
  border-color: var(--color-font-active);
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.search-bar__icon {
  background-image: url("/assets/icon/search.svg");
}

/* SELECT */

.select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

/* UTILS */
.transition {
  transition: all 0.3s ease-in-out;
}

/* CHARTS */
.charts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.charts-container--vertical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.chart-container {
  position: relative;
  height: 100%;
  min-height: 30rem;
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.hide {
  display: none;
}
