/* TITLE */
.title {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-bottom: var(--text-mb);
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-bottom: var(--text-mb);
}

.description {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-bottom: var(--text-mb);
}

.line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--color-line);
  margin: var(--line-m) 0;
}

.line--sm {
  width: 10%;
  height: 2px;
  display: block;
  background-color: var(--color-border-inactive);
}

.meta {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-font-secondary);
}

/* NOTIFICATIONS */
.notification-container {
  position: fixed;
  top: 85px;
  /* left: 2rem; */
  /* right: 2rem; */
  right: calc((100% - 300px) / 2);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.notification {
  min-height: 5rem;
  width: 100%;
  min-width: 30rem;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: var(--card-mb);
  border-radius: var(--border-radius);
  gap: 1rem;
}

.notification__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notification__icon {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border-radius: 50%;
  margin-right: 1rem;
}

.notification__icon .icon {
  width: 50%;
  height: 50%;
}

.notification__message {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-black);
}

.notification__close {
  background-image: url("/assets/icon/close.svg");
}

.notification__close:hover {
  background-color: var(--color-white);
  border-radius: 50%;
}

.notification--success {
  background: var(--color-bg-success);
  border: 1px solid var(--color-border-success);
  color: var(--color-font-success);
}

.notification--success .notification__icon .icon {
  background-image: url("/assets/icon/check.svg");
}

.notification--error {
  background: var(--color-bg-alert);
  border: 1px solid var(--color-border-alert);
  color: var(--color-font-alert);
}

.notification--error .notification__icon .icon {
  background-image: url("/assets/icon/error.svg");
}

.centcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

/* CARDS */
.cards-container,
.charts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards-container {
  margin-bottom: 8rem;
}

.cards-container .card {
  margin-bottom: 0;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-bottom: var(--component-mb);
}

.card .line {
  margin: 1rem 0;
}

.card__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card__title {
  font-size: 1.8rem;
  font-weight: 600;
  justify-self: flex-start;
  color: var(--color-font-primary);
}

.card__extra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__subtitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-top: 1rem;
  margin-bottom: var(--text-mb);
}

.card__description {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-bottom: var(--text-mb);
  margin-top: var(--text-mb);
}

.card .user__avatar {
  min-width: 3.2rem;
  min-height: 3.2rem;
  max-width: 3.2rem;
  max-height: 3.2rem;
}

.card .user__name {
  font-size: 1.2rem;
}

.card__footer {
  margin-top: auto !important;
  width: 100%;
}

.card__footer .button {
  min-width: 100%;
  margin: 0;
}

.card--team {
  height: auto;
}

.card--question {
  flex-direction: column;
  gap: 1rem;
}

.card--question * {
  margin: 0;
}

.card--question-checkbox {
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.card--question-checkbox * {
  margin: 0;
}

.card--question-checkbox div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card--answers {
  height: fit-content;
}

.card--answers .card__header {
  margin-bottom: 2rem;
}

.card--answers .card__title {
  font-size: 1.5rem;
}

.card--answers .description {
  font-size: 1.2rem;
}

.card--answers .items__list {
  margin-bottom: 0;
}

.card--actionable .buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  gap: 0;
  margin-top: 3rem;
  margin-bottom: 0;
}

.card--actionable .buttons-container > * {
  margin-right: 1rem;
}

.card--actionable .buttons-container .button {
  width: 100%;
}

/* BANNER */
.banner {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--banner-mb);
}

.banner--nomargin *,
.banner--nomargin div {
  margin: 0 !important;
}

.banner .line {
  margin: 1rem 0;
}

.banner .button {
  margin-right: 0;
}

/* USERS */
.users__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem 3rem;
  margin-bottom: var(--container-mb);
}

.user__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ICONS */
.icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  outline: none;
  border: none;
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

/* LABELS */
.label {
  height: 1.8rem;
  width: fit-content;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid;
  white-space: nowrap;
}

.label--active {
  background-color: var(--color-bg-active);
  color: var(--color-font-active);
  border-color: var(--color-border-active);
}

.label--alert {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
  border-color: var(--color-border-alert);
}

.label--success {
  background-color: var(--color-bg-success);
  color: var(--color-font-success);
  border-color: var(--color-border-success);
}

.label--danger {
  background-color: var(--color-bg-danger);
  color: var(--color-font-danger);
  border-color: var(--color-border-danger);
}

.label--inactive {
  background-color: var(--color-bg-inactive);
  color: var(--color-font-inactive);
  border-color: var(--color-border-inactive);
}

/* PILLS */
.pills-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.pill {
  height: 1.2rem;
  max-width: 4rem;
  min-width: 4rem;
  border-radius: 2rem;
  border: 1px solid;
  text-align: center;
}

.pill--ontime {
  background-color: var(--color-bg-success);
  border-color: var(--color-font-success);
}

.pill--late {
  background-color: var(--color-bg-danger);
  border-color: var(--color-font-danger);
  color: var(--color-font-alert);
}

.pill--alert {
  background-color: var(--color-bg-alert);
  border-color: var(--color-font-alert);
}

.pill--small {
  height: 1rem;
  max-width: 2rem;
  min-width: 2rem;
  border-radius: 0.3rem;

  background-color: var(--color-font-active);
  border-color: var(--color-font-active);
}

/* BUTTON */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-width);
  height: var(--input-height);
  margin-right: var(--component-mr);
  margin-bottom: var(--component-mb);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  /* border: 1px solid; */
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

.button:hover {
  opacity: 0.9;
}

.button--sm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: 0;
  border: 0;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
}

.button--md {
  width: 10rem;
}

.button--primary {
  background-color: var(--color-font-active);
  color: var(--color-white);
  border-color: var(--color-font-active);
}

.button--primary:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

.button--edit {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

.button--edit:hover {
  background-color: var(--color-font-active);
  color: var(--color-white);
}

.button--delete {
  background-color: var(--color-font-alert);
  color: var(--color-white);
}

.button--delete:hover {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
}

.button--delete-alt {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
}

.button--delete-alt:hover {
  background-color: var(--color-font-alert);
  color: var(--color-white);
}

.button--discard {
  color: var(--color-font-inactive);
  background-color: var(--color-bg-inactive);
  border-color: var(--color-font-inactive);
}

.button--discard:hover {
  color: var(--color-font-inactive);
  background-color: transparent;
  /* border-color: var(--color-bg-inactive); */
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--component-mb);
  gap: 2rem;
}

.buttons-container .button {
  margin: 0;
}

/* TOGGLE BUTTONS */
.toggle-buttons-container {
  display: flex;
  max-width: fit-content;
  border: 1px solid;
  border-radius: var(--border-radius);
}

.toggle-button {
  width: fit-content;
  height: var(--input-height);
  white-space: nowrap;
  border-right: 1px solid;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: var(--transition);
  padding: 0 1rem;
}

a.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.toggle-buttons-container .toggle-button:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.toggle-buttons-container .toggle-button:last-child {
  border-right: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.toggle-buttons-container--primary {
  border-color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button {
  color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button--active {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

/* INPUT */
.input,
.search-bar,
.select-container {
  height: var(--input-height);
  width: var(--input-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 1rem;
  background: var(--color-white);
  border: 1px solid var(--color-border-inactive);
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.select-container {
  max-width: 20rem;
}

.input:focus,
.search-bar:focus-within {
  border-color: var(--color-font-active);
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.search-bar__icon {
  background-image: url("/assets/icon/search.svg");
}

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: var(--component-mb);
}

/* SELECT */

.select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

/* CHARTS */
.charts-container {
  display: flex;
  flex-direction: column;
}

.chart-container {
  position: relative;
  height: 100%;
  min-height: 30rem;
  min-width: 100%;
  max-width: 40rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*TABLE*/
.table-container {
  overflow-x: scroll;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table tr {
  border-bottom: 1px solid var(--color-line);
  border-radius: var(--border-radius);
}

.table tbody tr:hover {
  cursor: pointer;
  background-color: var(--color-bg-inactive);
}

.table td {
  padding: 1.5rem 1rem;
  text-align: left;
  font-size: 1.3rem;
}

.table td:first-of-type {
  text-align: left;
}

.table tbody td {
  color: var(--color-border-primary);
}

.table tbody td.table__title {
  font-size: 1.4rem !important;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-font-active);
}

/* UTILS */
.transition {
  transition: all 0.3s ease-in-out;
}

.hide {
  display: none;
}

/* MARGINS */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

/* PADDINGS */
.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}
