/* TITLE */
.title {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-bottom: var(--text-mb);
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-bottom: var(--text-mb);
}

.subtitle--blue {
  color: var(--color-font-active);
}

.description {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-bottom: var(--text-mb);
}

.description--blue {
  color: var(--color-font-active);
  font-weight: 500;
}

.line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--color-line);
  margin: var(--line-m) 0;
}

.line--sm {
  width: 10%;
  height: 2px;
  display: block;
  background-color: var(--color-border-inactive);
}

.meta {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-font-secondary);
}

/* NOTIFICATIONS */
.notification-container {
  position: fixed;
  top: 85px;
  right: calc((100% - 300px) / 2);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.notification {
  min-height: 5rem;
  width: 100%;
  min-width: 30rem;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: var(--card-mb);
  border-radius: var(--border-radius);
  gap: 1rem;
}

.notification__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notification__icon {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border-radius: 50%;
  margin-right: 2rem;
}

.notification__icon .icon {
  width: 50%;
  height: 50%;
}

.notification__message {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-black);
}

.notification__close {
  background-image: url("/assets/icon/close.svg");
}

.notification__close:hover {
  background-color: var(--color-white);
  border-radius: 50%;
}

.notification--success {
  background: var(--color-bg-success);
  border: 1px solid var(--color-border-success);
  color: var(--color-font-success);
}

.notification--success .notification__icon .icon {
  background-image: url("/assets/icon/check.svg");
}

.notification--error {
  background: var(--color-bg-alert);
  border: 1px solid var(--color-border-alert);
  color: var(--color-font-alert);
}

.notification--error .notification__icon .icon {
  background-image: url("/assets/icon/error.svg");
}

.jira-user-id-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.jira-user-id-form .button,
.jira-user-id-form .input {
  width: 28rem;
}

.form-action-button {
  display: flex;
  justify-content: flex-end;
}

.centcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.centcontainer_min {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.horizontal-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 3rem;
  gap: 1rem;
}

/* CARDS */
.cards-container,
.pinterest-container,
.charts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards-container--full {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pinterest-container,
.cards-container {
  margin-bottom: 8rem;
}

.pinterest-container .card,
.cards-container .card {
  margin-bottom: 0;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-bottom: var(--component-mb);
}

.card--short {
  grid-row-end: span 1;
}

.card--medium {
  grid-row-end: span 2;
}

.card--tall {
  grid-row-end: span 3;
}

.card-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--color-white); */
  border-radius: var(--border-radius);
  /* box-shadow: var(--box-shadow); */
  /* padding-top: 1rem; */
  margin-bottom: var(--component-mb);
}

.card .line {
  margin: 1rem 0;
}

.card__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card__title {
  font-size: 1.8rem;
  font-weight: 600;
  justify-self: flex-start;
  color: var(--color-font-primary);
}

.card__extra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__subtitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-top: 1rem;
  margin-bottom: var(--text-mb);
}

.card__description {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-bottom: var(--text-mb);
  margin-top: var(--text-mb);
}

.card__description__footer {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-top: auto;
  margin-left: auto;
}

.act__description {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.card .user__avatar {
  min-width: 3.2rem;
  min-height: 3.2rem;
  max-width: 3.2rem;
  max-height: 3.2rem;
}

.card .user__name {
  font-size: 1.2rem;
}

.card__footer {
  margin-top: auto;
  width: 100%;
}

.card__footer .button {
  min-width: 100%;
  margin: 0;
}

.card--team {
  height: fit-content;
}

.card--question {
  flex-direction: column;
  gap: 1rem;
}

.card--pinterest {
  height: fit-content;
}
.card--question * {
  margin: 0;
}

.card--question-roles {
  flex-direction: column;
  gap: 1rem;
}

.card--question-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
}

.questions__list .card--question-checkbox.selected {
  opacity: 0.6;
  background-color: var(--color-bg-inactive);
}

.card--question-checkbox .question-required-checkbox {
  display: none;
}

.questions__resume
  .card--question-checkbox.selected
  .question-required-checkbox {
  display: flex;
}

.card--question-checkbox div:first-child {
  width: 100%;
}

.card--question-checkbox .selected {
  width: 16px;
  height: 16px;
}

.card--question-checkbox * {
  margin: 0;
}

.card--question-checkbox .question {
  width: fit-content;
  min-width: fit-content;
}

.card--answers {
  height: 45vh;
}

.card--answers .card__header {
  margin-bottom: 2rem;
}

.card--answers .card__title {
  font-size: 1.5rem;
}

.card--answers .description {
  font-size: 1.2rem;
}

.card--answers .items__list {
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 0;
}

.card--actionable .buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  gap: 0;
  margin-top: 3rem;
  margin-bottom: 0;
}

.card--actionable .buttons-container > * {
  margin-right: 1rem;
}

.card--actionable .buttons-container .button {
  width: 100%;
}

/* BANNER */
.banner {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--banner-mb);
}

.banner--nomargin *,
.banner--nomargin div {
  margin: 0 !important;
}

.banner .line {
  margin: 1rem 0;
}

.banner .button {
  margin-right: 0;
}

/* USERS */
.users__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem 3rem;
  margin-bottom: var(--container-mb);
}

.users__avatar-group {
  display: flex;
}

.users__avatar-group .user__avatar {
  width: 2.6rem;
  height: 2.6rem;
  font-size: 1.2rem;
}
.users__avatar-group .user__avatar:not(:first-child) {
  margin-left: -0.5rem !important;
}

.user__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ICONS */
.icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  outline: none;
  border: none;
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

/* LABELS */
.label {
  height: 1.8rem;
  min-width: 7rem;
  max-width: 7rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid;
  white-space: nowrap;
}

.label--active {
  background-color: var(--color-bg-active);
  color: var(--color-font-active);
  border-color: var(--color-border-active);
}

.label--alert {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
  border-color: var(--color-border-alert);
}

.label--success {
  background-color: var(--color-bg-success);
  color: var(--color-font-success);
  border-color: var(--color-border-success);
}

.label--danger {
  background-color: var(--color-bg-danger);
  color: var(--color-font-danger);
  border-color: var(--color-border-danger);
}

.label--inactive {
  background-color: var(--color-bg-inactive);
  color: var(--color-font-inactive);
  border-color: var(--color-border-inactive);
}

/* PILLS */
.pills-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  white-space: nowrap;
}

.pill {
  height: 1.2rem;
  max-width: 4rem;
  min-width: 4rem;
  border-radius: 2rem;
  border: 1px solid;
  text-align: center;
}

.pill--ontime {
  background-color: var(--color-bg-success);
  border-color: var(--color-font-success);
}

.pill--late {
  background-color: var(--color-bg-danger);
  border-color: var(--color-font-danger);
  color: var(--color-font-alert);
}

.pill--alert {
  background-color: var(--color-bg-alert);
  border-color: var(--color-font-alert);
}

.pill--small-vhigh {
  height: 1rem;
  max-width: 2rem;
  min-width: 2rem;
  border-radius: 0.3rem;
  margin-top: 0.8rem;

  background-color: #ff7452;
  border-color: #ff7452;
}
.pill--small-high {
  height: 1rem;
  max-width: 2rem;
  min-width: 2rem;
  border-radius: 0.3rem;
  margin-top: 0.8rem;

  background-color: #ff8f73;
  border-color: #ff8f73;
}
.pill--small-medium {
  height: 1rem;
  max-width: 2rem;
  min-width: 2rem;
  border-radius: 0.3rem;
  margin-top: 0.8rem;
  background-color: #ffab00;
  border-color: #ffab00;
}
.pill--small-low {
  height: 1rem;
  max-width: 2rem;
  min-width: 2rem;
  border-radius: 0.3rem;
  margin-top: 0.8rem;

  background-color: #0065ff;
  border-color: #0065ff;
}
.pill--small-vlow {
  height: 1rem;
  max-width: 2rem;
  min-width: 2rem;
  border-radius: 0.3rem;
  margin-top: 0.8rem;

  background-color: #2684ff;
  border-color: #2684ff;
}
/* BUTTON */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--button-width);
  height: var(--input-height);
  /* margin-right: var(--component-mr); */
  margin-bottom: var(--component-mb);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  /* border: 1px solid; */
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

.button:hover {
  opacity: 0.9;
}

.button--sm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content !important;
  height: fit-content;
  margin: 0;
  border: 0;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
}

.button--md {
  width: 10rem;
}

.button--primary {
  background-color: var(--color-font-active);
  color: var(--color-white);
  border-color: var(--color-font-active);
}

.button--primary:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

.button--edit {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

.button--edit:hover {
  background-color: var(--color-font-active);
  color: var(--color-white);
}

.button--delete {
  background-color: var(--color-font-alert);
  color: var(--color-white);
}

.button--delete:hover {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
}

.button--delete-question {
  background-color: var(--color-font-alert);
  background-image: url("/assets/icon/erase.svg");
  color: var(--color-white);
}

.button--delete-question:hover {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
}

.button--add-actionable {
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  background-color: var(--color-font-active);
  border-color: var(--color-font-active);
  color: white;
}

.button--add-actionable:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-white);
}

.button--delete-alt {
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
}

.button--delete-alt:hover {
  background-color: var(--color-font-alert);
  color: var(--color-white);
}

.button--discard {
  color: var(--color-font-inactive);
  background-color: var(--color-bg-inactive);
  border-color: var(--color-font-inactive);
}

.button--discard:hover {
  color: var(--color-font-inactive);
  background-color: transparent;
  /* border-color: var(--color-bg-inactive); */
}

.button--alert {
  background-color: var(--color-bg-danger);
  color: var(--color-font-danger);
  border-color: var(--color-font-danger);
}

.button--alert:hover {
  background-color: var(--color-bg-danger);
  color: var(--color-font-danger);
  border-color: var(--color-font-danger);
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--component-mb);
  justify-content: space-between;
  gap: 2rem;
}

.buttons-container .button {
  margin: 0;
}

/* TOGGLE BUTTONS */
.toggle-buttons-container {
  display: flex;
  max-width: fit-content;
  border: 1px solid;
  border-radius: var(--border-radius);
}

.toggle-button {
  width: fit-content;
  height: var(--input-height);
  white-space: nowrap;
  border-right: 1px solid;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: var(--transition);
  padding: 0 1rem;
}

a.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.toggle-buttons-container .toggle-button:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.toggle-buttons-container .toggle-button:last-child {
  border-right: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.toggle-buttons-container--primary {
  border-color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button {
  color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button--active {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

.toggle-buttons-container--primary .toggle-button:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-font-active);
}

/* INPUT */
.input,
.search-bar,
.multi-select-button,
.select-container {
  height: var(--input-height);
  width: var(--input-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 1rem;
  background: var(--color-white);
  border: 1px solid var(--color-border-inactive);
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.input {
  max-width: 500px;
}

.input:read-only {
  color: var(--color-font-edit);
  opacity: 0.8;
}

.search-bar {
  max-width: 100%;
}

.input--md {
  width: 100rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.input--number {
  width: 5rem;
}

.select-container {
  max-width: 20rem;
}

.multi-select-container {
  width: 100%;
  max-width: 20rem;
  position: relative;
}

.multi-select-button {
  font-size: 1.2rem;
  justify-content: space-between;
  cursor: default;
}

.multi-select-button .icon {
  width: 0.9rem;
  height: 0.9rem;
}

.multi-select-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--color-white);
  border: 1px solid var(--color-border-inactive);
  border-radius: var(--border-radius);
  z-index: 1;
}

.multi-select-container .items__list {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.multi-select-container .items__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.input:focus,
.search-bar:focus-within {
  border-color: var(--color-font-active);
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.search-bar__icon {
  background-image: url("/assets/icon/search.svg");
}

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: var(--component-mb);
}

/* SELECT */

.select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

/* CHARTS */
.charts-container {
  display: flex;
  flex-direction: column;
}

.chart-container {
  position: relative;
  height: 100%;
  min-height: 30rem;
  min-width: 100%;
  max-width: 40rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*TABLE*/
.table-container {
  overflow-x: scroll;
}

.table,
.table-roles {
  border-collapse: collapse;
  width: 100%;
}

.table tr,
.table-roles tr {
  border-bottom: 1px solid var(--color-line);
  border-radius: var(--border-radius);
}

.table tbody tr:hover {
  cursor: pointer;
  background-color: var(--color-bg-inactive);
}

.table td,
.table-roles td {
  padding: 2rem 1rem;
  text-align: left;
  font-size: 1.3rem;
}

.table__td__double_column {
  padding: 1.5rem 1rem;
  text-align: left;
  font-size: 1.3rem;
  min-width: 2rem;
}

.table td:first-of-type,
.table-roles td:first-of-type {
  text-align: left;
}

.table tbody td,
.table-rows tbody td {
  color: var(--color-border-primary);
}

.table tbody td.table__title,
.table-rows tbody td.table__title {
  font-size: 1.4rem !important;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-font-active);
}

/* CHECBOX */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

/* ALERT MESSAGE */
.alert-message {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: var(--color-bg-danger);
  color: var(--color-font-danger);
  border: 1px solid var(--color-border-danger);
  border-radius: var(--border-radius);
}

.alert-message .icon {
  background-image: url("/assets/icon/alert.svg");
}

.danger-message {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: var(--color-bg-alert);
  color: var(--color-font-alert);
  border: 1px solid var(--color-border-alert);
  border-radius: var(--border-radius);
}

.danger-message .icon {
  background-image: url("/assets/icon/danger.svg");
}

.description-question {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-font-secondary);
  margin-bottom: var(--component-mb);
  color: blue;
}

.banner-question {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* align-content: baseline; */
}

.banner-question button {
  margin: 0;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.option-container > button {
  max-width: 2rem;
  max-height: 2rem;
  margin: auto;
  border-radius: 50%;
}

.error-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.error-view--404 {
  background-image: url("/assets/img/zeb404.svg");
}

.error-view--500 {
  background-image: url("/assets/img/zeb500-mobile.svg");
}

/* UTILS */
.transition {
  transition: all 0.3s ease-in-out;
}

.hide {
  display: none !important;
}

.no-results {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-font-inactive);
}

.no-border {
  border: none !important;
}

/* MARGINS */
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

/* PADDINGS */
.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.align-flex-end {
  display: flex;
  align-items: flex-end;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  padding: 0.5rem 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.modal-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  max-width: 470px;
  width: 75%;
  margin: 15% auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.table-roles {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;
}

.table-roles td {
  text-align: center;
  background-color: transparent;
}

.tr-header {
  background-color: #dde7ff;
  font-weight: bold;
}

.table-roles th {
  padding-bottom: 1rem;
}
