/* 
  xs: 380px
  sm: 576px
  md: 768px
  lg: 992px
  xl: 1200px
  xxl: 1400px
*/

/* MOBILE BREAKPOINT */
@media screen and (min-width: 380px) {
  .nav__logo img {
    display: block;
  }
}

@media screen and (min-width: 576px) {
  .notification-container {
    right: calc((100% - 400px) / 2);
  }
  .notification {
    min-width: 40rem;
  }
  .user__name {
    display: block;
  }

  .users__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters-container {
    flex-direction: row;
  }

  .card--question {
    justify-content: space-between;
  }

  .card--question-checkbox {
    align-items: center;
  }

  .card--question-checkbox div {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

/* TABLET BREAKPOINT */
@media screen and (min-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    max-width: 98%;
    gap: 2rem;
  }

  .card {
    max-width: 100%;
  }

  .table-container {
    overflow-x: hidden;
  }

  .items__list {
    overflow-y: hidden;
  }

  .banner-question {
    flex-direction: row;
    justify-content: space-between;
  }

  .banner-question :nth-child(1) {
    flex: 35%;
  }

  .banner-question :nth-child(2) {
    flex: 65%;
  }
}

/* DESKTOP BREAKPOIN */
@media screen and (min-width: 992px) {
  .sidebar {
    width: var(--sidebar-width);
    transform: translateX(0%);
  }

  .nav__toggler {
    display: none !important;
  }

  .wrapper {
    margin-left: var(--sidebar-width);
  }

  .charts-container {
    display: grid;
    grid-template-columns: repeat(1, fr);
    max-width: 98%;
    gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    padding: 3rem;
  }

  .cards-container {
    grid-template-columns: repeat(3, 33%);
  }

  .chart-container {
    max-width: 100%;
  }

  .banner-question :nth-child(1) {
    flex: 35%;
  }

  .banner-question :nth-child(2) {
    flex: 65%;
  }
}

@media screen and (min-width: 1400px) {
  .charts-container,
  .cards-container {
    grid-template-columns: repeat(3, 33%);
  }

  .charts-container--no-col {
    grid-template-columns: repeat(1, 100%) !important;
  }
}
