*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  z-index: 1000;
  background-color: var(--bitcoin-orange);
  color: white;
}

/* NAVBAR */
.nav__toggler {
  background: url("../icon/navbar-toggler.svg");
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 65px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transform: translateX(-100%);
  background-color: var(--black);
  color: white;
}

.sidebar.show {
  transform: translateX(0);
}

/* WRAPPER */
.wrapper {
  margin-left: 0rem;
  margin-top: 6.5rem;
  background-color: var(--secondary-blue);
  height: 5000px;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  z-index: 1000;
  background-color: var(--bitcoin-orange);
  color: white;
}
