/* ICONS */
.icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  outline: none;
  border: none;
  background-color: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

/* TRANSITION */
.transition {
  transition: all 0.3s ease-in-out;
}
