<!-- SEND DATA TO SCRIPT -->

<script></script>

<!-- HEADER -->
<section class="dashboard">
  <div class="dashboard-header">
    <div>
      <h1 class="title">Sprint 19: Resumen Retrospectiva</h1>
      <p class="description">Resumen del desempeño en la retrospectiva</p>
    </div>
    <div class="toggle-buttons-container toggle-buttons-container--primary">
      <button class="toggle-button toggle-button--active">Métricas</button>
      <button class="toggle-button">Preguntas</button>
    </div>
  </div>
  <hr />
  <div class="chart-container">
    <canvas id="general-chart"></canvas>
  </div>

  <h2 class="subtitle">Otras métricas</h2>
  <hr />
  <div class="chart-container">
    <canvas id="epics-chart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="types-chart"></canvas>
  </div>
</section>
