<!-- SEND DATA TO SCRIPT -->

<script>
  let states = <%- JSON.stringify(locals.states) %>;
  let issues = <%- JSON.stringify(locals.issues) %>;
</script>

<section class="dashboard">
  <!-- HEADER -->
  <div class="dashboard-header">
    <div>
      <h1 class="title"><%= retrospective.name %></h1>
      <p class="description">Resumen del desempeño en la retrospectiva</p>
    </div>
    <% if (retrospective.state === "CLOSED") { %>
    <div class="toggle-buttons-container toggle-buttons-container--primary">
      <button class="toggle-button toggle-button--active">Métricas</button>
      <button class="toggle-button">Preguntas</button>
    </div>
    <% } else { %>
    <p class="description" style="text-align: right">
      Preguntas no disponibles <br />hasta cerrar la <br />retrospectiva
    </p>
    <% } %>
  </div>
  <hr />
  <!-- CHARTS -->
  <div class="chart-container">
    <canvas id="general-chart"></canvas>
  </div>

  <h2 class="subtitle">Otras métricas</h2>
  <hr />
  <div class="chart-container">
    <canvas id="epics-chart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="types-chart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="priorities-chart"></canvas>
  </div>
</section>
