<header class="login__header">
  <img src="./assets/img/logo.svg" alt="RetroZeb Logo" />
</header>
<main class="login__body">
  <h1 class="title">Iniciar Sesión</h1>
  <p class="description">Accede a tu cuenta con tu correo empresarial</p>
  <a class="login__button" href="/dashboard">
    <img
      class="login__button__icon"
      src="./assets/img/google-logo.svg"
      alt="Google logo"
    />
    <span> Iniciar Sesión con Google </span>
  </a>
</main>
<footer class="login__footer">
  <span class="line"></span>
  <img src="./assets/img/zebrands-logo.svg" alt="Zebrands Logo" />
  <span class="line"></span>
</footer>
