<!-- SEND DATA TO SCRIPT -->
<section class="dashboard">
  <!-- HEADER -->
  <div class="dashboard-header">
    <div>
      <h1 class="title">
        <%= retrospective.name %>
      </h1>
      <p class="description">Resumen del desempeño en la retrospectiva</p>
    </div>
    <div>
      <% if (retrospective.state==="CLOSED" ) { %>
        <div class="toggle-buttons-container toggle-buttons-container--primary">
          <button class="toggle-button toggle-button--active">Métricas</button>
          <button class="toggle-button">Preguntas</button>
        </div>
        <% } else { %>
          <p class="description" style="text-align: right">
            Preguntas no disponibles
          </p>
          <% } %>
            <p class="subtitle" style="text-align: right">Labels</p>
            <div class="select-container">
              <select class="select" id="label-options">
                <option value="Todos">Todos</option>
                <option value="Sin Label">Sin Label</option>
                <% for (let i=0; i < labels.length; i++) { %>
                  <option value="<%= labels[i] %>">
                    <%= labels[i] %>
                  </option>
                  <% } %>
              </select>
            </div>
    </div>
  </div>
  <hr />
  <!-- CHARTS -->
  <div class="chart-container">
    <canvas id="general-chart"></canvas>
  </div>

  <h2 class="subtitle">Otras métricas</h2>
  <hr />
  <div class="chart-container">
    <canvas id="epics-chart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="types-chart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="priorities-chart"></canvas>
  </div>
</section>

<script type="module" src="/assets/js/retrospectiveDashboard.js"></script>