<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retro Zeb - <%= title %></title>

    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="/assets/icon/favicon.png"
      type="image/x-icon"
    />

    <!-- GOOGLE -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/assets/js/auth/googleAuth.js"></script>

    <script>
      function handleCredentialResponse(response) {
        handleLogin(response);
      }
    </script>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/utils.css" />
    <link rel="stylesheet" href="/assets/css/components.css" />

    <!-- USER CSS -->
    <% if(locals.currentUser) { %>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/layout.css" />
    <% } %>

    <!-- LOGIN CSS -->
    <% if(!locals.currentUser || !locals.currentUser.id_jira) { %>
    <link rel="stylesheet" href="/assets/css/login.css" />
    <% } %>

    <link rel="stylesheet" href="/assets/css/mediaqueries.css" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- CHARTJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


    <!-- SCRIPTS -->
    <script src="/assets/js/utils/constants.js"></script>
    <script src="/assets/js/utils/index.js"></script>
  </head>
</html>
