<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>

  <!-- FAVICON -->
  <!-- <link rel="shortcut icon" href="/assets/icon/favicon.png" type="image/x-icon" /> -->

  <!-- BOOTSTRAP -->
  <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    /> -->

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/utils.css" />
  <link rel="stylesheet" href="/assets/css/components.css" />

  <!-- USER CSS -->
  <% if(locals.currentUser) { %>

  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/layout.css" />
  <link rel="stylesheet" href="/assets/css/mediaqueries.css" />
  <% } %>

  <!-- LOGIN CSS -->
  <% if(!locals.currentUser) { %>
  <link rel="stylesheet" href="/assets/css/login.css" />
  <% } %>

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

  <!-- CHARTJS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

