<header class="header">
  <nav class="nav">
    <div class="nav__logo-container">
      <button class="nav__toggler" id="sidebar-toggler">
        <img src="./assets/icon/navbar-toggler.svg" alt="" class="icon" />
      </button>
      <a href="#" class="nav__logo">
        <img src="./assets/img/logo.svg" alt="" />
      </a>
    </div>
    <ul>
      Navbar
    </ul>
  </nav>
</header>