<header class="header">
  <nav class="nav">
    <div class="nav__logo-container">
      <button class="nav__toggler" id="sidebar-toggler">
        <img src="./assets/icon/navbar-toggler.svg" alt="" class="icon" />
      </button>
      <a href="#" class="nav__logo">
        <img src="./assets/img/logo.svg" alt="" />
      </a>
    </div>
    <ul class="nav__list">
      <li class="nav__item">
        <div class="select-container">
          <select class="select">
            <option value="1">Equipo 1</option>
            <option value="2">Equipo 2</option>
            <option value="3">Equipo 3</option>
          </select>
        </div>
      </li>
      <li class="nav__item">
        <div class="user">
          <div class="user__avatar"><%= user[0] %></div>
          <div class="user__name"><%= user %></div>
        </div>
      </li>
    </ul>
  </nav>
</header>
