<header class="header">
  <nav class="nav">
    <div class="nav__logo">
      <button class="nav__toggler icon" id="sidebar-toggler"></button>
      <a href="#">Logo</a>
    </div>
    <ul>
      Navbar
    </ul>
  </nav>
</header>
