<section class="dashboard">

<div class="banner">
<div class="banner__section">
    <h1 class="title">Retrospectivas  <span class="meta"> (<%=retrospectives.length %>)</span>  </h1>
    <p class="description">
        Listado de todas las retrospectivas creadas
    </p>
</div>
<div class="banner__section">
    <button class="button button--edit">Comparar</button>
    <a class="button button--primary" href="#">Iniciar Retrospectiva</a>
</div>
<span class="line"></span>

<div class="cards-container">
<div class="input search-bar">
    <span class="icon search-bar__icon"></span>
    <input type="text" placeholder="Buscar por título" />
</div>

<div class="select-container">
    <select class="select">
      <option value="1">Fecha Ascendente</option>
      <option value="2">Fecha Descendente</option>
    </select>
  </div>
</div>


</section>